html {
  background-color: #000000;
  font-family: "Silkscreen";
}

p {
  margin: auto;
}

.sidenav {
  background-color: #4b4bea;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  display: flex;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #f1f1f1;
  justify-content:
}

.sidenav a:hover {
  color: #000000;
}

.logo {
  background-color: #f1f1f1;
  color: #000000;
  font-size: 30px;
  height: 100px;

}

.me3 {
  width: 100%;
}

.project {
  background-color: #4b4bea;
  padding: 20px;
  width: 60%;
  position: relative;
  bottom: 30px;
}
